@import "tailwindcss";

@custom-variant dark (&:where(.dark-theme, .dark-theme *));

@theme {
  --default-transition-duration: 200ms;
  --spacing-fill: -webkit-fill-available;
  --font-cairo-play: var(--font-cairo-play);
}

@utility bg-body {
  @apply bg-white dark:bg-slate-900;
}
@utility text-body {
  @apply text-slate-800 dark:text-white;
}
@utility container {
  @apply mx-auto px-2 lg:px-8;
}
@utility flex-center {
  @apply flex justify-center items-center;
}
@utility truncate {
  @apply w-fit max-w-full;
}
@utility external-link {
  @apply text-blue-400 hover:text-blue-600 underline flex items-center flex-row-reverse justify-end gap-2 w-fit;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-body text-body;
  }
  #root {
    @apply min-h-screen flex flex-col *:w-full;
  }
  button, a {
    @apply cursor-pointer;
  }
  img {
    @apply max-w-full;
  }
}
